# Week 6 - Python Programming
---

Mentoring Session - Job Preparation Program - Pacmann AI

# Task 1. User Registration

Category: Medium

---

## Task Descriptions
---
- Create two classes to add user, deactivate user, and summarize user

## Detail function
---

- Create two classes called by `UserData` and `RegistrationData`
- The `RegistrationData` class inherit the `UserData` class.
- In `UserData` class
  - You initialize the class without inserting any input
    - When initialize, it automatically create parameter called by `user_data` (list)
    - Example of `user_data`
    ```python
    [
            {'user_id': 1, 'data': {'name': 'cahya', 'gender': 'male', 'status': 'active'}},
            {'user_id': 2, 'data': {'name': 'dewa', 'gender': 'male', 'status': 'active'}},
            {'user_id': 3, 'data': {'name': 'fanny', 'gender': 'female', 'status': 'inactive'}}
    ]
    ```
  - `UserData` class has 1 method called by `summarize`
    - This method print the number of all user & active user get from `user_data` (list)
    - Example
    ```
        Data summary
        ------------
        Number of all user    : 3
        Numebr of active user : 2
    ```
- In `RegistrationData` class
  - `RegistrationData` has two methods: `add_user` and `deactivate_user`
  - `add_user`
    - Adding user data to `user_data`
    - It needs two input: `name` (str) and `gender` (str)
    - When called,
        - You start to count from 1 and set it as the corresponding user id
        - Then you add a dictionary of user data to `user_data`
        - The dictionary have two keys: `user_id` and `data`
        - The value of `user_id` is `int` while the value of `data` is another dictionary.
        - Inside the `data` key, it has 3 other keys: `name`, `gender`, and `status` that tell user name, user gender, and user status (default value is `active`).
    - So, if you call `add_user(name='cahya', gender='male')`, <br>then you will add `{'user_id': 1, 'data': {'name': 'cahya', 'gender': 'male', 'status': 'active'}` to `user_data`
    - If you call again the function by `add_user(name='fany', gender='female')`, <br>then you will add `{'user_id': 2, 'data': {'name': 'fany', 'gender': 'female', 'status': 'active'}` to `user_data`
    
  - `deactivate_user`
    - Deactive user status by its `id`
    - It needs one input, `user_id` (int)
    - And change the user status from `active` to `inactive`

## Examples
---

**Input 1**

```python
# Create an object
data = RegistrationData()

# First month
data.add_user(name='cahya', gender='male')      # add user
data.add_user(name='dewa', gender='male')       # add user
data.add_user(name='fanny', gender='female')    # add user
data.deactivate_user(user_id=3)                 # deactivate Fanny

# Get the data summary
data.summarize()

# Print all data
print('Data')
print('-----------')
data.user_data
```

**Output 1**
```
Data summary
------------
Number of all user    : 3
Number of active user : 2

Data
-----------
[{'user_id': 1,
  'data': {'name': 'cahya', 'gender': 'male', 'status': 'active'}},
 {'user_id': 2,
  'data': {'name': 'dewa', 'gender': 'male', 'status': 'active'}},
 {'user_id': 3,
  'data': {'name': 'fanny', 'gender': 'female', 'status': 'inactive'}}]
```

---
**Input 2**

```python
# Create an object
data = RegistrationData()

# First month
data.add_user(name='cahya', gender='male')      # add user
data.add_user(name='dewa', gender='male')       # add user
data.add_user(name='fanny', gender='female')    # add user
data.add_user(name='dron', gender='male')       # add user
data.deactivate_user(user_id=2)                 # deactivate user
data.add_user(name='gaby', gender='female')     # add user
data.add_user(name='sativa', gender='female')   # add user
data.deactivate_user(user_id=5)                 # deactivate user

# Get the data summary
data.summarize()

# Print all data
print('Data')
print('-----------')
data.user_data
```

**Output 2**
```
Data summary
------------
Number of all user    : 6
Number of active user : 4

Data
-----------
[{'user_id': 1,
  'data': {'name': 'cahya', 'gender': 'male', 'status': 'active'}},
 {'user_id': 2,
  'data': {'name': 'dewa', 'gender': 'male', 'status': 'inactive'}},
 {'user_id': 3,
  'data': {'name': 'fanny', 'gender': 'female', 'status': 'active'}},
 {'user_id': 4,
  'data': {'name': 'dron', 'gender': 'male', 'status': 'active'}},
 {'user_id': 5,
  'data': {'name': 'gaby', 'gender': 'female', 'status': 'inactive'}},
 {'user_id': 6,
  'data': {'name': 'sativa', 'gender': 'female', 'status': 'active'}}]
```

## Answer

---
- Provide the code for solving the problem
- **Make sure your function follows the `Detail Function`**

In [ ]:
# Write your code here
# Note: You can write your input manually

user = []

class UserData():
  def __init__(self,data):
    self.data = data # data source

  def summarize(self):
    total_users = len(self.data) # menghitung total user
    active_user = [] # list untuk menampung active user

    for user in self.data:
      if user['data']['status'] == 'active':
        active_user.append(user['data']['name'])


    print(f'Number of all user : {total_users}')
    print(f'Number of active user : {len(active_user)}')

class RegisterData(UserData):
  def __init__(self, data):
    super().__init__(data) # Memanggil __init__ parent class menggunakan super()

  def add_user(self, nama, gender):
    self.nama = nama
    self.gender = gender

    new_id = len(self.data) + 1 # initiate new id untuk di create new user
    status = 'active' # default value untuk status saat create new user

    # menampung semua data untuk new_user
    new_user = {
        'user_id': new_id,
        'data': {
            'name': nama,
            'gender': gender,
            'status': status
        }
    }

    self.data.append(new_user) #insert new_user ke datasource

  def deactivate_user(self,id):
    self.id = id
    indx = id - 1 # setting index berdasarkan id

    self.data[indx]['data']['status'] = 'inactive' # update status to inactive

In [ ]:
user.clear()
user_data = RegisterData(user)

user_data.add_user('cahya','male')
user_data.add_user('dewa','male')
user_data.add_user('fanny','female')
user_data.deactivate_user(3)

user_data.summarize()

print()
print('Data')
print('-----------')
user

Number of all user : 3
Number of active user : 2

Data
-----------

[{'user_id': 1,
  'data': {'name': 'cahya', 'gender': 'male', 'status': 'active'}},
 {'user_id': 2,
  'data': {'name': 'dewa', 'gender': 'male', 'status': 'active'}},
 {'user_id': 3,
  'data': {'name': 'fanny', 'gender': 'female', 'status': 'inactive'}}]

In [ ]:
user.clear()

user_data.add_user('cahya','male')
user_data.add_user('dewa','male')
user_data.add_user('fanny','female')
user_data.add_user('dron','male')
user_data.deactivate_user(2)
user_data.add_user('gaby','female')
user_data.add_user('sativa','female')
user_data.deactivate_user(5)

user_data.summarize()

print()
print('Data')
print('-----------')
user

Number of all user : 6
Number of active user : 4

Data
-----------

[{'user_id': 1,
  'data': {'name': 'cahya', 'gender': 'male', 'status': 'active'}},
 {'user_id': 2,
  'data': {'name': 'dewa', 'gender': 'male', 'status': 'inactive'}},
 {'user_id': 3,
  'data': {'name': 'fanny', 'gender': 'female', 'status': 'active'}},
 {'user_id': 4,
  'data': {'name': 'dron', 'gender': 'male', 'status': 'active'}},
 {'user_id': 5,
  'data': {'name': 'gaby', 'gender': 'female', 'status': 'inactive'}},
 {'user_id': 6,
  'data': {'name': 'sativa', 'gender': 'female', 'status': 'active'}}]

# Task 2. Normalize Data

Category: Medium

---

## Task Descriptions
---
- Create a class to normalize a set of data

**What is a normalization?**

- Convert a set of data to have minimum value of 0.0 and maximum value of 1.0.
- How to **transform** or **normalize** a data?

$$
x^{(\text{new})}_{i}
=
\cfrac
{x^{(\text{old})}_{i} - \min(x^{(\text{old})})}
{\max(x^{(\text{old})}) - \min(x^{(\text{old})})}
$$

**Examples**
- Let, `x = [-3, -9, 0, 8, 11]`
- We know that
  - `min(x) = -9`
  - `max(x) = 11`
- Then

$$
\begin{align*}
x^{(\text{new})}_{1}
&=
\cfrac
{x^{(\text{old})}_{1} - \min(x^{(\text{old})})}
{\max(x^{(\text{old})}) - \min(x^{(\text{old})})} \\
x^{(\text{new})}_{1}
&=
\cfrac
{-3 - (-9)}
{11 - (-9)} \\
x^{(\text{new})}_{1}
&=
\cfrac
{6}
{20} \\
x^{(\text{new})}_{1}
&= 0.3
\end{align*}
$$

- Doing to all the `x`, we will have `x_normalized = [0.30, 0.00, 0.45, 0.05, 1.00]`

## Detail function
---

- Create a class named `Normalizer`
- You can initialize the class without any input.
- The `Normalizer` has three method
  1. `fit`
    - Have one input: `data` (list)
    - To get the minimum & maximum value of data
  2. `transform`
    - Have one input: `data` (list)
    - Have one output: `data_scaled` (list)
    - Normalize the input data
  3. `inverse_transform`
    - Have one input: `data` (list)
    - Have one output: `data_inv_scaled` (list)
    - Return the normalize data to the initial data
- The `Normalizer` has three parameters
  1. `min`, contain the minimum value of the data
  2. `max`, contain the maximum value of the data

## Examples
---

**Input 1**

```python
# Define a data to normalize
x = [-3, -9, 0, 8, 11]

# 1. Initialize a Normalizer object
scaler = Normalizer()

# 2. Fit the data
scaler.fit(data = x)
print('min value    :', scaler.min)
print('max value    :', scaler.max)

# 3. Transform data
x_scaled = scaler.transform(data = x)
print('x initial    :', x)
print('x scaled     :', x_scaled)

# 4. Transform back the scaled data
x_inv_scaled = scaler.inverse_transform(data = x_scaled)
print('x inv scaled :', x_inv_scaled)
```

**Output 1**
```
min value    : -9
max value    : 11
x initial    : [-3, -9, 0, 8, 11]
x scaled     : [0.3, 0.0, 0.45, 0.85, 1.0]
x inv scaled : [-3.0, -9.0, 0.0, 8.0, 11.0]
```

---
**Input 2**

```python
# Define a data to normalize
x = [8, -3.7, 9, 8.2, 100, 8.9, 4.3, 12.5, -20.0, 3.2]

# 1. Initialize a Normalizer object
scaler = Normalizer()

# 2. Fit the data
scaler.fit(data = x)
print('min value    :', scaler.min)
print('max value    :', scaler.max)

# 3. Transform data
x_scaled = scaler.transform(data = x)
print('x initial    :', x)
print('x scaled     :', x_scaled)

# 4. Transform back the scaled data
x_inv_scaled = scaler.inverse_transform(data = x_scaled)
print('x inv scaled :', x_inv_scaled)
```

**Output 2**
```
min value    : -20.0
max value    : 100
x initial    : [8, -3.7, 9, 8.2, 100, 8.9, 4.3, 12.5, -20.0, 3.2]
x scaled     : [0.23333333333333334, 0.13583333333333333, 0.24166666666666667, 0.235, 1.0, 0.24083333333333332, 0.2025, 0.2708333333333333, 0.0, 0.19333333333333333]
x inv scaled : [8.0, -3.6999999999999993, 9.0, 8.2, 100.0, 8.899999999999999, 4.300000000000001, 12.5, -20.0, 3.1999999999999993]
```

---
**Input 3 - SPECIAL INPUT**

```python
# Define a data to normalize
x = [8, -3.7, 9, 8.2, 8.9, 4.3, 12.5, -20.0, 3.2]

# 1. Initialize a Normalizer object
scaler = Normalizer()

# 2. Fit the data
scaler.fit(data = x)
print('min value    :', scaler.min)
print('max value    :', scaler.max)

# 3. Transform data
x_scaled = scaler.transform(data = x)
print('x initial    :', x)
print('x scaled     :', x_scaled)

# 4. Transform another data
x_new = [4.0, 3.0, -2.0, 1.0, 9.0, 8.0]
x_new_scaled = scaler.transform(data = x_new)
print('x new init   :', x_new)
print('x new scaled :', x_new_scaled)
```

**Output 3**
```
min value    : -20.0
max value    : 12.5
x initial    : [8, -3.7, 9, 8.2, 8.9, 4.3, 12.5, -20.0, 3.2]
x scaled     : [0.8615384615384616, 0.5015384615384616, 0.8923076923076924, 0.8676923076923077, 0.8892307692307692, 0.7476923076923078, 1.0, 0.0, 0.7138461538461538]
x new init   : [4.0, 3.0, -2.0, 1.0, 9.0, 8.0]
x new scaled : [0.7384615384615385, 0.7076923076923077, 0.5538461538461539, 0.6461538461538462, 0.8923076923076924, 0.8615384615384616]
```

## Answer

---
- Provide the code for solving the problem
- **Make sure your function follows the `Detail Function`**

In [15]:
# Write your code here
# Note: You can write your input manually

class Normalizer:
  data_scaled = []
  data_inv_scaled = []

  def fit(self,data):
    self.min_value = min(data)
    self.max_value = max(data)

  def transform(self,data):
    self.data_scaled.clear()

    for num in range(len(data)):
      new_data = (data[num] - self.min_value) / (self.max_value - self.min_value)
      new_data = float(new_data)

      self.data_scaled.append(new_data)

    return self.data_scaled


  def inverse_transform(self,data):
    self.data_inv_scaled.clear()

    for num in range(len(data)):
      inv_data = (self.data_scaled[num] * (self.max_value - self.min_value)) + self.min_value
      inv_data = float(inv_data)

      self.data_inv_scaled.append(inv_data)

    return self.data_inv_scaled

**Output 1**

In [16]:
# Define a data to normalize
x = [-3, -9, 0, 8, 11]

# 1. Initialize a Normalizer object
scaler = Normalizer()

# 2. Fit the data
scaler.fit(x)
print(f'Min Value: {scaler.min_value}')
print(f'Min Value: {scaler.max_value}')

# 3. Transform data
x_scaled = scaler.transform(x)
print(f'x initial    : {x}')
print(f'x scaled     : {x_scaled}')

# 4. Transform back the scaled data
x_inv_scaled = scaler.inverse_transform(x)
print(f'x inv scaled : {x_inv_scaled}')

Min Value: -9
Min Value: 11
x initial    : [-3, -9, 0, 8, 11]
x scaled     : [0.3, 0.0, 0.45, 0.85, 1.0]
x inv scaled : [-3.0, -9.0, 0.0, 8.0, 11.0]

**Output 2**

In [17]:
# Define a data to normalize
x = [8, -3.7, 9, 8.2, 100, 8.9, 4.3, 12.5, -20.0, 3.2]

# 1. Initialize a Normalizer object
scaler = Normalizer()

# 2. Fit the data
scaler.fit(x)
print(f'Min Value: {scaler.min_value}')
print(f'Min Value: {scaler.max_value}')

# 3. Transform data
x_scaled = scaler.transform(x)
print(f'x initial    : {x}')
print(f'x scaled     : {x_scaled}')

# 4. Transform back the scaled data
x_inv_scaled = scaler.inverse_transform(x)
print(f'x inv scaled : {x_inv_scaled}')

Min Value: -20.0
Min Value: 100
x initial    : [8, -3.7, 9, 8.2, 100, 8.9, 4.3, 12.5, -20.0, 3.2]
x scaled     : [0.23333333333333334, 0.13583333333333333, 0.24166666666666667, 0.235, 1.0, 0.24083333333333332, 0.2025, 0.2708333333333333, 0.0, 0.19333333333333333]
x inv scaled : [8.0, -3.6999999999999993, 9.0, 8.2, 100.0, 8.899999999999999, 4.300000000000001, 12.5, -20.0, 3.1999999999999993]

**Output 3**

In [18]:
# Define a data to normalize
x = [8, -3.7, 9, 8.2, 8.9, 4.3, 12.5, -20.0, 3.2]

# 1. Initialize a Normalizer object
scaler = Normalizer()

# 2. Fit the data
scaler.fit(x)
print(f'Min Value: {scaler.min_value}')
print(f'Min Value: {scaler.max_value}')

# 3. Transform data
x_scaled = scaler.transform(x)
print(f'x initial    : {x}')
print(f'x scaled     : {x_scaled}')

# 4. Transform another data
x_new = [4.0, 3.0, -2.0, 1.0, 9.0, 8.0]
x_new_scaled = scaler.transform(x_new)
print('x new init   :', x_new)
print('x new scaled :', x_new_scaled)

Min Value: -20.0
Min Value: 12.5
x initial    : [8, -3.7, 9, 8.2, 8.9, 4.3, 12.5, -20.0, 3.2]
x scaled     : [0.8615384615384616, 0.5015384615384616, 0.8923076923076924, 0.8676923076923077, 0.8892307692307692, 0.7476923076923078, 1.0, 0.0, 0.7138461538461538]
x new init   : [4.0, 3.0, -2.0, 1.0, 9.0, 8.0]
x new scaled : [0.7384615384615385, 0.7076923076923077, 0.5538461538461539, 0.6461538461538462, 0.8923076923076924, 0.8615384615384616]

# Task 3. Word Mapper

Category: Hard

---

## Task Descriptions
---
- Create a class to convert word to numeric

**Word to numeric**
- When analyzing a text document, we usually convert the given word to numbers thus we can perform a numerical operation.

**Example**
- Given a list of words

```python
google_reviews = [
    ['Aplikasinya berjalan dengan baik. Senang'],
    ['Kurang suka. Waktu loading pembayaran terlalu lama'],
    ['Butuh perbaiki loading dari aplikasi yang terlalu lama'],
    ['Cepat proses installasinya'],
    ['Kenapa tidak bisa top up bos ?'],
    ['Suka suka suka']
]
```

- To convert the list to number, first we need to create the bag of word, i.e. all unique words from the given reviews.

```python
bag_of_words = [
    'aplikasi', 'aplikasinya', 'baik.', 'berjalan',
    'bisa', 'bos?', 'butuh', 'cepat', 'dari',
    'dengan', 'installasinya', 'kenapa', 'kurang',
    'lama', 'loading', 'pembayaran', 'perbaiki',
    'proses', 'senang', 'suka', 'suka.',
    'terlalu', 'tidak', 'top', 'up',
    'waktu', 'yang']
```

- After that, you can create a map, i.e. `words -> number`

```python
word_to_index = {
    'aplikasi': 0,
    'aplikasinya': 1,
    'baik.': 2,
    'berjalan': 3,
    'bisa': 4,
    'bos?': 5,
    'butuh': 6,
    'cepat': 7,
    'dari': 8,
    'dengan': 9,
    'installasinya': 10,
    'kenapa': 11,
    'kurang': 12,
    'lama': 13,
    'loading': 14,
    'pembayaran': 15,
    'perbaiki': 16,
    'proses': 17,
    'senang': 18,
    'suka': 19,
    'suka.': 20,
    'terlalu': 21,
    'tidak': 22,
    'top': 23,
    'up': 24,
    'waktu': 25,
    'yang': 26
}
```

- With the above map, we switch the word with the corresponding number.
- Say the sentence is `['Aplikasinya berjalan']`, then the converted sentence is `[1, 3]`

- Finally, you can map the whole google reviews to

```python
google_reviews_transformed = [
    [1, 3, 9, 2, 18],
    [12, 20, 25, 14, 15, 21, 13],
    [6, 16, 14, 8, 0, 26, 21, 13],
    [7, 17, 10],
    [11, 22, 4, 23, 24, 5],
    [19, 19, 19]
]
```

In [ ]:
class Mapper:
    def fit(self)

    def transform(self)

    def inverse(self)

## Detail function
---

- Create a class called by `Mapper`
- `Mapper` could be initialize without inserting any input
- `Mapper` has several method:
  - `fit`
    - To create a bag of word and word-to-index mapper from a given `sentence_list`
    - Has 1 input, `sentence_list` (list)
    - Has no output
  - `transform`
    - To transform a `sentence_list` to number based on the obtained bag of words and word-to-index mapper
    - Has 1 input, `sentence_list` (list)
    - Has 1 output, `sentence_list_transformed` (list)
  - `inverse_transform`
    - To inverse transform number to word based on the obtained bag of words and word-to-index mapper
    - Has 1 input, `sentence_list_number` (list)
    - Has 1 output, `sentence_list` (list)

- `Mapper` has several parameters:
  - `bag_of_words` (list), contain all the unique word from the given sentence list (in an alphabetical order)
  - `word_to_index` (dictionary), contain a map of word to index based on the given `bag_of_words`

## Examples
---

**Input 1**

```python
# Google review comments
google_reviews = [
    ['Aplikasinya berjalan dengan baik. Senang'],
    ['Kurang suka. Waktu loading pembayaran terlalu lama'],
    ['Butuh perbaiki loading dari aplikasi yang terlalu lama'],
    ['Cepat proses installasinya'],
    ['Kenapa tidak bisa top up bos?'],
    ['Suka suka suka']
]

# Create a Mapper object
map_obj = Mapper()

# Fit the mapper
map_obj.fit(sentence_list = google_reviews)
print('Bag of Words:')
print(map_obj.bag_of_words)
print('')
print('Word to Index:')
print(map_obj.word_to_index)
print('')

# Transform the reviews
reviews_transformed = map_obj.transform(sentence_list = google_reviews)
print('Transformed reviews:')
print(reviews_transformed)
print('')


# Inverse transform the transformed reviews
reviews_inv_transformed = map_obj.inverse_transform(sentence_list_number = reviews_transformed)
print('Inverse transformed reviews:')
print(reviews_inv_transformed)
print('')
```

**Output 1**
```python
Bag of Words:
['aplikasi', 'aplikasinya', 'baik.', 'berjalan', 'bisa', 'bos?', 'butuh', 'cepat', 'dari', 'dengan', 'installasinya', 'kenapa', 'kurang', 'lama', 'loading', 'pembayaran', 'perbaiki', 'proses', 'senang', 'suka', 'suka.', 'terlalu', 'tidak', 'top', 'up', 'waktu', 'yang']

Word to Index:
{'aplikasi': 0, 'aplikasinya': 1, 'baik.': 2, 'berjalan': 3, 'bisa': 4, 'bos?': 5, 'butuh': 6, 'cepat': 7, 'dari': 8, 'dengan': 9, 'installasinya': 10, 'kenapa': 11, 'kurang': 12, 'lama': 13, 'loading': 14, 'pembayaran': 15, 'perbaiki': 16, 'proses': 17, 'senang': 18, 'suka': 19, 'suka.': 20, 'terlalu': 21, 'tidak': 22, 'top': 23, 'up': 24, 'waktu': 25, 'yang': 26}

Transformed reviews:
[[1, 3, 9, 2, 18], [12, 20, 25, 14, 15, 21, 13], [6, 16, 14, 8, 0, 26, 21, 13], [7, 17, 10], [11, 22, 4, 23, 24, 5], [19, 19, 19]]

Inverse transformed reviews:
['aplikasinya berjalan dengan baik. senang', 'kurang suka. waktu loading pembayaran terlalu lama', 'butuh perbaiki loading dari aplikasi yang terlalu lama', 'cepat proses installasinya', 'kenapa tidak bisa top up bos?', 'suka suka suka']
```

---
**Input 2**

```python
# Text: Data Mining dan Contoh Penerapannya untuk Perusahaan
# From: https://pacmann.io/blog/data-mining-dan-contoh-penerapannya-untuk-perusahaan
doc_text = [
    ['Dewasa ini, data mining sudah digunakan nyaris di berbagai industri.'],
    ['Seiring budaya informasi berbasis data kian menguat, peran data mining juga semakin vital bagi bisnis.'],
    ['Dengan data mining, perusahaan mampu menggali informasi berharga mengenai perilaku konsumen, tren industri, dan masih banyak lagi.'],
    ['Berikut adalah beberapa di antaranya'],
    ['Mengumpulkan informasi yang reliabel dan faktual'],
    ['Mendeteksi dan mencegah penipuan'],
    ['Mengidentifikasi risiko'],
    ['Merespon perubahan tren dalam industri'],
    ['Membuat keputusan yang berbasis data'],
    ['Meningkatkan hubungan dengan konsumen'],
    ['Kendati demikian, proses data mining juga tidak selalu berjalan sesuai harapan.'],
    ['Ada beberapa permasalahan yang kerap ditemui dalam data mining di perusahaan.']
]

# Create a Mapper object
map_obj = Mapper()

# Fit the mapper
map_obj.fit(sentence_list = doc_text)
print('Bag of Words:')
print(map_obj.bag_of_words)
print('')
print('Word to Index:')
print(map_obj.word_to_index)
print('')

# Transform the reviews
text_transformed = map_obj.transform(sentence_list = doc_text)
print('Transformed text:')
print(text_transformed)
print('')


# Inverse transform the transformed text
text_inv_transformed = map_obj.inverse_transform(sentence_list_number = text_transformed)
print('Inverse transformed text:')
print(text_inv_transformed)
print('')
```

**Output 2**
```python
Bag of Words:
['ada', 'adalah', 'antaranya', 'bagi', 'banyak', 'beberapa', 'berbagai', 'berbasis', 'berharga', 'berikut', 'berjalan', 'bisnis.', 'budaya', 'dalam', 'dan', 'data', 'demikian,', 'dengan', 'dewasa', 'di', 'digunakan', 'ditemui', 'faktual', 'harapan.', 'hubungan', 'industri', 'industri,', 'industri.', 'informasi', 'ini,', 'juga', 'kendati', 'keputusan', 'kerap', 'kian', 'konsumen', 'konsumen,', 'lagi.', 'mampu', 'masih', 'membuat', 'mencegah', 'mendeteksi', 'mengenai', 'menggali', 'mengidentifikasi', 'menguat,', 'mengumpulkan', 'meningkatkan', 'merespon', 'mining', 'mining,', 'nyaris', 'penipuan', 'peran', 'perilaku', 'permasalahan', 'perubahan', 'perusahaan', 'perusahaan.', 'proses', 'reliabel', 'risiko', 'seiring', 'selalu', 'semakin', 'sesuai', 'sudah', 'tidak', 'tren', 'vital', 'yang']

Word to Index:
{'ada': 0, 'adalah': 1, 'antaranya': 2, 'bagi': 3, 'banyak': 4, 'beberapa': 5, 'berbagai': 6, 'berbasis': 7, 'berharga': 8, 'berikut': 9, 'berjalan': 10, 'bisnis.': 11, 'budaya': 12, 'dalam': 13, 'dan': 14, 'data': 15, 'demikian,': 16, 'dengan': 17, 'dewasa': 18, 'di': 19, 'digunakan': 20, 'ditemui': 21, 'faktual': 22, 'harapan.': 23, 'hubungan': 24, 'industri': 25, 'industri,': 26, 'industri.': 27, 'informasi': 28, 'ini,': 29, 'juga': 30, 'kendati': 31, 'keputusan': 32, 'kerap': 33, 'kian': 34, 'konsumen': 35, 'konsumen,': 36, 'lagi.': 37, 'mampu': 38, 'masih': 39, 'membuat': 40, 'mencegah': 41, 'mendeteksi': 42, 'mengenai': 43, 'menggali': 44, 'mengidentifikasi': 45, 'menguat,': 46, 'mengumpulkan': 47, 'meningkatkan': 48, 'merespon': 49, 'mining': 50, 'mining,': 51, 'nyaris': 52, 'penipuan': 53, 'peran': 54, 'perilaku': 55, 'permasalahan': 56, 'perubahan': 57, 'perusahaan': 58, 'perusahaan.': 59, 'proses': 60, 'reliabel': 61, 'risiko': 62, 'seiring': 63, 'selalu': 64, 'semakin': 65, 'sesuai': 66, 'sudah': 67, 'tidak': 68, 'tren': 69, 'vital': 70, 'yang': 71}

Transformed text:
[[18, 29, 15, 50, 67, 20, 52, 19, 6, 27], [63, 12, 28, 7, 15, 34, 46, 54, 15, 50, 30, 65, 70, 3, 11], [17, 15, 51, 58, 38, 44, 28, 8, 43, 55, 36, 69, 26, 14, 39, 4, 37], [9, 1, 5, 19, 2], [47, 28, 71, 61, 14, 22], [42, 14, 41, 53], [45, 62], [49, 57, 69, 13, 25], [40, 32, 71, 7, 15], [48, 24, 17, 35], [31, 16, 60, 15, 50, 30, 68, 64, 10, 66, 23], [0, 5, 56, 71, 33, 21, 13, 15, 50, 19, 59]]

Inverse transformed text:
['dewasa ini, data mining sudah digunakan nyaris di berbagai industri.', 'seiring budaya informasi berbasis data kian menguat, peran data mining juga semakin vital bagi bisnis.', 'dengan data mining, perusahaan mampu menggali informasi berharga mengenai perilaku konsumen, tren industri, dan masih banyak lagi.', 'berikut adalah beberapa di antaranya', 'mengumpulkan informasi yang reliabel dan faktual', 'mendeteksi dan mencegah penipuan', 'mengidentifikasi risiko', 'merespon perubahan tren dalam industri', 'membuat keputusan yang berbasis data', 'meningkatkan hubungan dengan konsumen', 'kendati demikian, proses data mining juga tidak selalu berjalan sesuai harapan.', 'ada beberapa permasalahan yang kerap ditemui dalam data mining di perusahaan.']
```

## Answer

---
- Provide the code for solving the problem
- **Make sure your function follows the `Detail Function`**

In [157]:
# Write your code here
# Note: You can write your input manually

class Mapper:
  #initiate fit method
  def fit(self,sentence_list):
    # create a set() because set don't allowed duplicate data
    bag_words = set()

    # loop for flatten the sentence_list
    for index in sentence_list:
      # loop to get the word inside the flatten list
      for sentence in index:
        sentence = sentence.lower().split() # made all word to a lowercase and split per word
        bag_words.update(sentence) # insert sentence to bag_words set

    # made a new list from set before
    self.bag_of_words = list(bag_words)
    self.bag_of_words.sort() # sort the list in alphabetical orders using method sort()

    # create a new dictionary
    self.word_to_index = {}

    # loop to insert data into a dictionary with values by index
    for i in range(len(self.bag_of_words)):
      self.word_to_index[self.bag_of_words[i]] = i

  #initiate transform method
  def transform(self, sentence_list):
    # create list to store transformed data
    transformed = []

    # loop for flatten the sentence list
    for flat in sentence_list:
      # create list to store values per list in loop
      values_per_list = []

      # loop for iterate sentence in flatten list
      for sentence in flat:
        sentence = sentence.lower().split()

        # loop for iterate word in every sentence in list
        for word in range(len(sentence)):
          values = self.word_to_index[sentence[word]] # define values by calling the word == word_to_index dictionary keys
          values_per_list.append(values) # append values into values_per_list list

        #append values_per_list into transformed list, so it would be a nested list
        transformed.append(values_per_list)

    return transformed

  # initiate inverse_transform method
  def inverse_transform(self, sentence_list_number):
    # create list and dictionary to store processed data
    inverse_transformed = []
    index_to_word = {}

    # loop for iterate word and index from word_to_index dictionary
    for word, index in self.word_to_index.items():
      # insert data to a new dictionary where inverted the keys and values
      index_to_word[index] = word

    # loop to flatten the sentence_list_number
    for flat in sentence_list_number:
      word_per_list = []

      # loop to define word by calling the values from new dictionary and append into word_per_list
      for value in flat:
        word = index_to_word[value]
        word_per_list.append(word)

      # join the word_per_list with ' ' so the result as a sentence not a word splitted like before
      sentence_per_list = ' '.join(word_per_list)

      # append the sentence_per_list into inverse_transformed list
      inverse_transformed.append(sentence_per_list)

    return inverse_transformed

**Output 1**

In [158]:
google_reviews = [
    ['Aplikasinya berjalan dengan baik. Senang'],
    ['Kurang suka. Waktu loading pembayaran terlalu lama'],
    ['Butuh perbaiki loading dari aplikasi yang terlalu lama'],
    ['Cepat proses installasinya'],
    ['Kenapa tidak bisa top up bos?'],
    ['Suka suka suka']
]

# Create a Mapper object
map_obj = Mapper()

# Fit the mapper
map_obj.fit(google_reviews)
print('Bag of Words:')
print(map_obj.bag_of_words)
print()
print('Word to Index:')
print(map_obj.word_to_index)
print()

# Transform the reviews
reviews_transformed = map_obj.transform(google_reviews)
print('Transformed reviews:')
print(reviews_transformed)
print()

# Inverse transform the transformed reviews
reviews_inv_transformed = map_obj.inverse_transform(reviews_transformed)
print('Inverse transformed reviews:')
print(reviews_inv_transformed)
print()

Bag of Words:
['aplikasi', 'aplikasinya', 'baik.', 'berjalan', 'bisa', 'bos?', 'butuh', 'cepat', 'dari', 'dengan', 'installasinya', 'kenapa', 'kurang', 'lama', 'loading', 'pembayaran', 'perbaiki', 'proses', 'senang', 'suka', 'suka.', 'terlalu', 'tidak', 'top', 'up', 'waktu', 'yang']

Word to Index:
{'aplikasi': 0, 'aplikasinya': 1, 'baik.': 2, 'berjalan': 3, 'bisa': 4, 'bos?': 5, 'butuh': 6, 'cepat': 7, 'dari': 8, 'dengan': 9, 'installasinya': 10, 'kenapa': 11, 'kurang': 12, 'lama': 13, 'loading': 14, 'pembayaran': 15, 'perbaiki': 16, 'proses': 17, 'senang': 18, 'suka': 19, 'suka.': 20, 'terlalu': 21, 'tidak': 22, 'top': 23, 'up': 24, 'waktu': 25, 'yang': 26}

Transformed reviews:
[[1, 3, 9, 2, 18], [12, 20, 25, 14, 15, 21, 13], [6, 16, 14, 8, 0, 26, 21, 13], [7, 17, 10], [11, 22, 4, 23, 24, 5], [19, 19, 19]]

Inverse transformed reviews:
['aplikasinya berjalan dengan baik. senang', 'kurang suka. waktu loading pembayaran terlalu lama', 'butuh perbaiki loading dari aplikasi yang terlalu lama', 'cepat proses installasinya', 'kenapa tidak bisa top up bos?', 'suka suka suka']

**Output 2**

In [159]:
# Text: Data Mining dan Contoh Penerapannya untuk Perusahaan
# From: https://pacmann.io/blog/data-mining-dan-contoh-penerapannya-untuk-perusahaan
doc_text = [
    ['Dewasa ini, data mining sudah digunakan nyaris di berbagai industri.'],
    ['Seiring budaya informasi berbasis data kian menguat, peran data mining juga semakin vital bagi bisnis.'],
    ['Dengan data mining, perusahaan mampu menggali informasi berharga mengenai perilaku konsumen, tren industri, dan masih banyak lagi.'],
    ['Berikut adalah beberapa di antaranya'],
    ['Mengumpulkan informasi yang reliabel dan faktual'],
    ['Mendeteksi dan mencegah penipuan'],
    ['Mengidentifikasi risiko'],
    ['Merespon perubahan tren dalam industri'],
    ['Membuat keputusan yang berbasis data'],
    ['Meningkatkan hubungan dengan konsumen'],
    ['Kendati demikian, proses data mining juga tidak selalu berjalan sesuai harapan.'],
    ['Ada beberapa permasalahan yang kerap ditemui dalam data mining di perusahaan.']
]

# Create a Mapper object
map_obj = Mapper()

# Fit the mapper
map_obj.fit(doc_text)
print('Bag of Words:')
print(map_obj.bag_of_words)
print('')
print('Word to Index:')
print(map_obj.word_to_index)
print('')

# Transform the reviews
text_transformed = map_obj.transform(doc_text)
print('Transformed text:')
print(text_transformed)
print('')


# Inverse transform the transformed text
text_inv_transformed = map_obj.inverse_transform(text_transformed)
print('Inverse transformed text:')
print(text_inv_transformed)
print('')

Bag of Words:
['ada', 'adalah', 'antaranya', 'bagi', 'banyak', 'beberapa', 'berbagai', 'berbasis', 'berharga', 'berikut', 'berjalan', 'bisnis.', 'budaya', 'dalam', 'dan', 'data', 'demikian,', 'dengan', 'dewasa', 'di', 'digunakan', 'ditemui', 'faktual', 'harapan.', 'hubungan', 'industri', 'industri,', 'industri.', 'informasi', 'ini,', 'juga', 'kendati', 'keputusan', 'kerap', 'kian', 'konsumen', 'konsumen,', 'lagi.', 'mampu', 'masih', 'membuat', 'mencegah', 'mendeteksi', 'mengenai', 'menggali', 'mengidentifikasi', 'menguat,', 'mengumpulkan', 'meningkatkan', 'merespon', 'mining', 'mining,', 'nyaris', 'penipuan', 'peran', 'perilaku', 'permasalahan', 'perubahan', 'perusahaan', 'perusahaan.', 'proses', 'reliabel', 'risiko', 'seiring', 'selalu', 'semakin', 'sesuai', 'sudah', 'tidak', 'tren', 'vital', 'yang']

Word to Index:
{'ada': 0, 'adalah': 1, 'antaranya': 2, 'bagi': 3, 'banyak': 4, 'beberapa': 5, 'berbagai': 6, 'berbasis': 7, 'berharga': 8, 'berikut': 9, 'berjalan': 10, 'bisnis.': 11, 'budaya': 12, 'dalam': 13, 'dan': 14, 'data': 15, 'demikian,': 16, 'dengan': 17, 'dewasa': 18, 'di': 19, 'digunakan': 20, 'ditemui': 21, 'faktual': 22, 'harapan.': 23, 'hubungan': 24, 'industri': 25, 'industri,': 26, 'industri.': 27, 'informasi': 28, 'ini,': 29, 'juga': 30, 'kendati': 31, 'keputusan': 32, 'kerap': 33, 'kian': 34, 'konsumen': 35, 'konsumen,': 36, 'lagi.': 37, 'mampu': 38, 'masih': 39, 'membuat': 40, 'mencegah': 41, 'mendeteksi': 42, 'mengenai': 43, 'menggali': 44, 'mengidentifikasi': 45, 'menguat,': 46, 'mengumpulkan': 47, 'meningkatkan': 48, 'merespon': 49, 'mining': 50, 'mining,': 51, 'nyaris': 52, 'penipuan': 53, 'peran': 54, 'perilaku': 55, 'permasalahan': 56, 'perubahan': 57, 'perusahaan': 58, 'perusahaan.': 59, 'proses': 60, 'reliabel': 61, 'risiko': 62, 'seiring': 63, 'selalu': 64, 'semakin': 65, 'sesuai': 66, 'sudah': 67, 'tidak': 68, 'tren': 69, 'vital': 70, 'yang': 71}

Transformed text:
[[18, 29, 15, 50, 67, 20, 52, 19, 6, 27], [63, 12, 28, 7, 15, 34, 46, 54, 15, 50, 30, 65, 70, 3, 11], [17, 15, 51, 58, 38, 44, 28, 8, 43, 55, 36, 69, 26, 14, 39, 4, 37], [9, 1, 5, 19, 2], [47, 28, 71, 61, 14, 22], [42, 14, 41, 53], [45, 62], [49, 57, 69, 13, 25], [40, 32, 71, 7, 15], [48, 24, 17, 35], [31, 16, 60, 15, 50, 30, 68, 64, 10, 66, 23], [0, 5, 56, 71, 33, 21, 13, 15, 50, 19, 59]]

Inverse transformed text:
['dewasa ini, data mining sudah digunakan nyaris di berbagai industri.', 'seiring budaya informasi berbasis data kian menguat, peran data mining juga semakin vital bagi bisnis.', 'dengan data mining, perusahaan mampu menggali informasi berharga mengenai perilaku konsumen, tren industri, dan masih banyak lagi.', 'berikut adalah beberapa di antaranya', 'mengumpulkan informasi yang reliabel dan faktual', 'mendeteksi dan mencegah penipuan', 'mengidentifikasi risiko', 'merespon perubahan tren dalam industri', 'membuat keputusan yang berbasis data', 'meningkatkan hubungan dengan konsumen', 'kendati demikian, proses data mining juga tidak selalu berjalan sesuai harapan.', 'ada beberapa permasalahan yang kerap ditemui dalam data mining di perusahaan.']

# Task 4. Debug this code

Category: Easy

---

## Task 4.1
---

Below is a code to extract email with domain `@pacmannai.com` from mailing list to a new mailing list

In [ ]:
# Debug this code
def is_domain(email, domain_ref):
	'''return whether the given email has domain_ref, e.g. '@pacmannai.com' '''
	if email.split('@')[0] == domain_ref:
		return True
	else:
		return False

def extract_domain(mail_list, domain_ref):
	'''return list of mail that has specific domain'''
	correct_mail_list = []

	for mail in mail_list:
		correct_mail_list.append(is_domain(domain_ref, mail_list))

	return correct_mail_list

# Set the input
mail_list = [
	  'abc@pacmannai.com',
	  'def@pacmann_ai.com',
	  'ghi@pacmannai.co.id',
	  'jkl@gmail.com',
	  'por@gmail.com',
	  'pacmannai@gmail.com',
	  'drive@gmail.com'
]

# Run the function
res = extract_domain(mail_list, domain_ref)
print(res)

NameError: ignored

## Task 4.2
---

Below is a code to calculate a negative log-likelihood (NLL) from given actual value ($y_{i}$) & predicted probability ($P_{i}$)

$$
\text{NLL} =
-\cfrac{1}{N}
\sum_{i=1}^{N}
\left(
    y_{i} \log (P_{i})
    +
    (1 - y_{i}) \log (1 - P_{i})
\right)
$$

In [ ]:
# Debug this code
import math

def nll(actual, predicted_proba):
	'''return the negative loglikelihood. Return NLL (float)'''
	N = len(actual)
    nll = -(1/N) * (actual * math.log(predicted_proba) + (1-actual) * (1 - math.log(predicted_proba)))
	return nll


# Input
actual = [1, 0, 0, 1, 1]
predicted_proba = [0.9, 0.1, 0.05, 0.8, 0.7]

res = nll(actual, predicted_proba)
print(res)
# Should be 0.16836656419122908

IndentationError: ignored

# Task 5. Data Validation - 1

Category: Medium

---

## Detail Function
---
- Create a function named `is_matrix_equal` to check whether two matrices are almost equal withing specific tolerance.

- The input are
  - `mat_1`, the first matrix, `list`, should be 2D
  - `mat_2`, the second matrix, `list`, should be 2D
  - `tol`, the specified tolerance.

- The output are
  - `status`, `True` if the two matrix are equal, else `False`
  - Two matrices are equal in size when the number of rows & columns are similar.
  - Two matrices are equal in value if the **absolute difference** of each element is lower than the given tolerance, `tol`.

- Before checking the matrices, you should create a data defense (validation) that raise error to the user such as:
  - `TypeError('<mat_xx> type error. Should be list')` if `mat_1` or/and `mat_2` is not `list`
  - `TypeError('<mat_xx> should be 2D list')` if `mat_1` or/and `mat_2` is not a 2D list
  - `ValueError('Mismatch number of rows')` or `ValueError('Mismatch number of columns')` if `mat_1` and `mat_2` is not have similar size.

## Examples
---

**Input 1**

```python
mat_1 = [
    [1, 2, 3],
    [4, 5, 6]
]
mat_2 = None

res = is_matrix_equal(mat_1, mat_2, tol=0.01)
print(res)
```

**Output 1**
```
TypeError: mat_2 type error. Should be list
```

---
**Input 2**

```python
mat_1 = None
mat_2 = None

res = is_matrix_equal(mat_1, mat_2, tol=0.01)
print(res)
```

**Output 2**
```
TypeError: mat_1 type error. Should be list
```

---
**Input 3**

```python
mat_1 = 3
mat_2 = 4

res = is_matrix_equal(mat_1, mat_2, tol=0.01)
print(res)
```

**Output 3**
```
TypeError: mat_1 type error. Should be list
```

---
**Input 4**

```python
mat_1 = [[4, 3]]
mat_2 = [[4, 3],
         [1, 2]]

res = is_matrix_equal(mat_1, mat_2, tol=0.01)
print(res)
```

**Output 4**
```
ValueError: Mismatch number of rows
```

---
**Input 5**

```python
mat_1 = [[4, 3],
         [1, 2]]
mat_2 = [[4, 3],
         [1, 2]]

res = is_matrix_equal(mat_1, mat_2, tol=0.01)
print(res)
```

**Output 5**
```
True
```

---
**Input 6**

```python
mat_1 = [[4.000, 3.005],
         [1.000, 2.000]]
mat_2 = [[4.001, 3.000],
         [1.001, 1.995]]

res = is_matrix_equal(mat_1, mat_2, tol=0.01)
print(res)
```

**Output 6**
```
True
```

---
**Input 7**

```python
mat_1 = [[4.00, 3.05],
         [1.00, 2.00]]
mat_2 = [[4.01, 3.00],
         [1.01, 1.95]]

res = is_matrix_equal(mat_1, mat_2, tol=0.05)
print(res)
```

**Output 7**
```
False
```

---
**Input 8**
```python
mat_1 = [[4.00, '3.05'],
         [1.00, 2.00]]
mat_2 = [[4.01, 3.00],
         [1.01, 1.95]]

res = is_matrix_equal(mat_1, mat_2, tol=0.05)
print(res)
```

**Output 8**
```
ValueError: Element of matrix mat_1 is not number
```

## Answer

---
- Provide the code for solving the problem
- **Make sure your function follows the `Detail Function`**

In [ ]:
# Write your code here
# Note: You can write your input manually
...

# Task 6. Data Validation - 2

Category: Hard

---

## Task Descriptions
---
- Create a function to validate the given input and return
  - `clean_data` (list), contain the cleaned data
  - `error_msg` (dictionary), contain data error rows & its error message
    - example 1:
    ```python
    # The error is in data
    {
        'Mismatch input type'
    }
    ```
    - example 2:
    ```python
    # The error is in data rows
    {
        1: ['Mismatch input type on col:id'],
        5: ['Mismatch input type on col:id', 'None value in col:id', 'Negative value in col:revenue'],
        12: ['Mismatch col:id type']
    }
    ```

## Task Descriptions
---

- Create a function to validate the given input and return
  - If the data is validated, return the given data & empty list of error, e.g.
  ```python
    {
        "data": [
            [
                "id",
                "sales",
                "revenue"
            ],
            [
                "ab01",
                2,
                3
            ],
            [
                "de02",
                4,
                5
            ]
        ],
        "error": []
    }
  ```
  - If the data is failed to validate, return `None` on data and what's the error message, e.g.
  ```python
    {
        "data": null,
        "error": [
            {
                "index": 1,
                "error": [
                    "None value on col:revenue"
                ]
            },
            {
                "index": 2,
                "error": [
                    "Mismatch input type on col:sales. Should be a number",
                    "None value on col:revenue"
                ]
            }
        ]
    }
  ```

- The data is valid if
  - A 2D `list` type (have rows & columns).
  - Have three columns, i.e. `'id'`, `'sales'`, `'revenue'`
  - The first row is the columns name.
  - The `'id'` data is a str, the `'sales'` and `'revenue'` are numbers.
  - The data should not have `None` value.
  - The `sales` and `revenue` should be greater or equal than 0.

## Detail function
---

- Create function named `validate_data`
- Have 1 input called `raw_data` (list)
- Validate the data according to the task descriptions
- Return a validation summary (`dict`) according to the examples
- Type of error:
  - `Mismatch input type`; if the `raw_data` is not list
  - `Mismatch input size. The data is not in 2D`; if the `raw_data` is not a 2D list
  - `Mismatch number of columns`; if the `raw_data` and each row does not have 3 columns
  - `Mismatch data columns name`; if the `raw_data` col names is not `['id', 'sales', 'revenue']`
  - `Mismatch data columns sequence`; if the `raw_data` col names is not in the right sequence
  - `Mismatch input type on col:<col_names>`; if the element type is not correct
  - `None value on col:<col_names>`; if the element value is `None`
  - `Negative value on col:<col_names>`; if the element value is less than zero

## Examples
---

**Input 1**

```python
raw_data = []

data_val = validate_data(raw_data)

# Json Dumps
import json
print(json.dumps(data_val, indent=4))
```

**Output 1**
```
{
    "data": null,
    "error": "Mismatch input size. The data is not in 2D"
}
```

---
**Input 2**

```python
raw_data = [['a', 'b', 'c']]

data_val = validate_data(raw_data)

# Json Dumps
import json
print(json.dumps(data_val, indent=4))
```

**Output 2**
```
{
    "data": null,
    "error": "Mismatch data columns name"
}
```

---
**Input 3**

```python
raw_data = [['id', 'sales', 'revenue'],
            [3, 2]]

data_val = validate_data(raw_data)

# Json Dumps
import json
print(json.dumps(data_val, indent=4))
```

**Output 3**
```
{
    "data": null,
    "error": "Mismatch number of columns"
}
```

---
**Input 4**

```python
raw_data = [['id', 'revenue', 'sales'],
            ['as32', 3, 2],
            ['pc43', 5, 2]]

data_val = validate_data(raw_data)

# Json Dumps
import json
print(json.dumps(data_val, indent=4))
```

**Output 4**
```
{
    "data": null,
    "error": "Mismatch data columns sequence"
}
```

---
**Input 5**

```python
raw_data = [['id', 'sales', 'revenue'],
            ['as32', 3, 2],
            ['pc43', 5, 2]]

data_val = validate_data(raw_data)

# Json Dumps
import json
print(json.dumps(data_val, indent=4))
```

**Output 5**
```
{
    "data": [
        [
            "id",
            "sales",
            "revenue"
        ],
        [
            "as32",
            3,
            2
        ],
        [
            "pc43",
            5,
            2
        ]
    ],
    "error": []
}
```

---
**Input 6**

```python
raw_data = [['id', 'sales', 'revenue'],
            ['as32', 3, 2],
            ['pc43', 5, 2],
            [None, 4, '2'],
            ['ds32', 5, 10],
            ['ab41', None, 's']]

data_val = validate_data(raw_data)

# Json Dumps
import json
print(json.dumps(data_val, indent=4))
```

**Output 6**
```
{
    "data": null,
    "error": [
        {
            "index": 3,
            "error": [
                "None value on col:id",
                "Mismatch input type on col:revenue. Should be a number"
            ]
        },
        {
            "index": 5,
            "error": [
                "None value on col:sales",
                "Mismatch input type on col:revenue. Should be a number"
            ]
        }
    ]
}
```

## Answer

---
- Provide the code for solving the problem
- **Make sure your function follows the `Detail Function`**

In [ ]:
# Write your code here
# Note: You can write your input manually
...